@charset "UTF-8";
body {
  margin: 0 auto;
}

.navigation_topsection {
  width: 100vw;
  height: 600px;
  background-color: #2f5b72;
  color: white;
}

.navigation_topsection .navigation_bar {
  padding-top: 15px;
  height: 100px;
  width: 1300px;
  color: white;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation_topsection .navigation_bar img {
  width: 300px;
  margin-right: 200px;
  vertical-align: middle;
}

.nav_content {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  vertical-align: middle;
}

.nav_content li:nth-child(5) a {
  padding-left: 0;
}

.nav_content li:nth-child(5) span {
  display: inline-block;
  background-color: #47c652;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  vertical-align: middle;
}

.nav_content li:nth-child(6) {
  background-color: #5f7f90;
  margin: 0 15px 0 0;
  padding: 12px 5px;
  border-radius: 5px;
}

.nav_content li:nth-child(7) {
  background-color: #f47b21;
  margin: 0 5px 0 0;
  padding: 12px 5px;
  border-radius: 5px;
}

.nav_content a {
  padding: 0 15px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 15px;
}

.nav_content a:hover {
  text-decoration: underline;
}

.web_title {
  width: 1300px;
  margin: 0 auto;
  text-align: center;
  padding: 15px 0 0 0;
}

.web_title h1 {
  font-size: 30px;
}

.billingPlan {
  margin: 50px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: normal;
  position: relative;
}

.billingPlan .monthyyearlyB {
  display: flex;
  justify-content: normal;
  align-items: center;
  background-color: #15394c;
  padding: 10px;
  border-radius: 10px 0 0 10px;
}

.billingPlan .monthyyearlyB a {
  color: white;
  text-decoration: none;
  font-size: 19px;
  margin: 0 0 0 10px;
  text-align: center;
}

.billingPlan .monthyyearlyB a:hover {
  text-decoration: underline;
}

.billingPlan .yearlyB {
  background-color: white;
  padding: 10px;
  border-radius: 0 10px 10px 0;
  color: white;
  position: relative;
}

.billingPlan .yearlyB a {
  color: #15394c;
}

.billingPlan .yearlyB .yearlyB_discount {
  background-color: #8a9bae;
  color: white;
  font-weight: bold;
  position: absolute;
  border-radius: 5px;
  width: 120px;
  left: 45%;
  bottom: 40px;
  padding: 5px;
}

.billingPlan .yearlyB:hover .checkmark {
  display: inline-block;
  position: absolute;
}

.checkmark {
  display: none;
}

li {
  list-style-type: none;
}

.allSubscription {
  position: relative;
  width: 1300px;
  margin: 0 auto;
  display: flex;
  padding: 0;
}

.allSubscription ul:first-child {
  width: 1300px;
  display: flex;
  justify-content: space-between;
  padding: 0;
  position: absolute;
  top: -180px;
}

.freePlan,
.standardPlan,
.professionalPlan,
.businessPlan,
.enterprisePlan {
  padding: 25px;
  line-height: 30px;
}

.planDescription {
  background-color: #ebeff4;
  color: #16222f;
  width: 220px;
  height: 350px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 5px;
}

.planDescription .freePlan::before {
  display: inline-block;
  content: "";
  background: url(../../assets/greycloud.PNG) no-repeat;
  width: 32px;
  height: 25px;
  vertical-align: middle;
  margin-right: 10px;
  background-size: 100%;
}

.planDescription .plan_detail {
  font-size: small;
  height: 50px;
  padding: 0 15px;
}

.planDescription .price .dollar {
  font-weight: bold;
  font-size: large;
}

.planDescription .price .cents {
  font-weight: bold;
  font-size: small;
  vertical-align: top;
}

.signup_button {
  background-color: #dde1e7;
  width: 200px;
  padding: 10px 0;
  border: none;
  border-radius: 5px;
  margin: 0 auto;
  color: #848484;
  font-weight: bold;
  margin-bottom: 5px;
}

.signup_button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.price_yearly {
  color: #8d8f92;
  font-size: 3px;
  margin-top: -30px;
}

.standardPlan::before {
  display: inline-block;
  content: "";
  background: url(../../assets/cloudsunny.PNG) no-repeat;
  width: 35px;
  height: 35px;
  vertical-align: middle;
  margin-right: 10px;
  background-size: 90%;
}

.planDescription_P {
  background-color: white;
  border: 1px solid grey;
  color: #16222f;
  width: 220px;
  height: 350px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 5px;
  position: relative;
}

.planDescription_P #mostPopular {
  width: 220px;
  height: 30px;
  background-color: #15394c;
  position: absolute;
  top: -30px;
  color: white;
  border-radius: 5px 5px 0 0;
  line-height: 30px;
  font-weight: bold;
  font-size: small;
}

.planDescription_P .professionalPlan::before {
  display: inline-block;
  content: "";
  background: url(../../assets/whitesunny.PNG) no-repeat;
  width: 35px;
  height: 35px;
  vertical-align: middle;
  margin-right: 10px;
  background-size: 100%;
}

.planDescription_P .plan_detail {
  font-size: small;
  height: 50px;
  padding: 0 15px;
}

.planDescription_P .ProfessionButton {
  background-color: #15394c;
  color: white;
}

.businessPlan::before {
  display: inline-block;
  content: "";
  background: url(../../assets/snow.PNG) no-repeat;
  width: 35px;
  height: 35px;
  vertical-align: middle;
  margin-right: 10px;
  background-size: 100%;
}

.planDescription_E {
  background-color: #15394c;
  color: white;
  width: 240px;
  height: 350px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 5px 5px 0 0;
}

.planDescription_E .plan_detail {
  font-size: small;
  height: 50px;
  padding: 0 15px;
}

.planDescription_E .enterprisePlan::before {
  display: inline-block;
  content: "";
  background: url(../../assets/building.PNG) no-repeat;
  width: 32px;
  height: 25px;
  vertical-align: middle;
  margin-right: 10px;
  background-size: 100%;
}

.planDescription_E .enterprise_price div:nth-child(1) {
  font-size: 18px;
  font-weight: bold;
}

.planDescription_E .enterprise_price div:nth-child(2) {
  padding-top: 5px;
  font-size: smaller;
}

.planDescription_E .contact_button {
  background-color: #f47b21;
  width: 200px;
  padding: 10px 0;
  border: none;
  border-radius: 5px;
  margin: 0 auto;
  color: white;
  font-weight: bold;
  margin-bottom: 5px;
}

.planDescription_E .contact_button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.business > .service {
  border: none;
}

.service {
  padding: 10px;
  border-right: 1px solid grey;
  height: 530px;
}

.service li {
  padding: 10px;
  display: flex;
  width: 200px;
}

.service li img {
  padding-right: 5px;
}

.service_enterprise {
  background-color: #15394c;
  color: white;
  border: none;
  border-radius: 0 0 5px 5px;
}

.companyiconContainer {
  margin-top: 850px;
  width: 100vw;
}

.companyiconContainer .companyIcon {
  width: 1350px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.companyiconContainer .companyIcon div:first-child {
  line-height: 100px;
  padding-left: 10px;
  font-weight: bold;
}

.companyiconContainer .companyIcon .imgW {
  height: 50px;
}

.companyiconContainer .companyIcon .deloitteW {
  background: url(../../assets/deloitteW.PNG) no-repeat;
  background-size: 100%;
  width: 187px;
  height: 50px;
  vertical-align: middle;
}

.companyiconContainer .companyIcon .microsoftW {
  background: url(../../assets/microsoftW.png) no-repeat;
  background-size: 100%;
  width: 187px;
  height: 50px;
  vertical-align: middle;
}

.companyiconContainer .companyIcon .wbw {
  background: url(../../assets/WBW.PNG) no-repeat;
  background-size: 46%;
  width: 110px;
  height: 50px;
  vertical-align: middle;
}

.companyiconContainer .companyIcon .wawaW {
  background: url(../../assets/wawaW.PNG) no-repeat;
  background-size: 80%;
  width: 132px;
  height: 50px;
  vertical-align: middle;
}

.companyiconContainer .companyIcon .schW {
  background: url(../../assets/schneiderW.jpg) no-repeat;
  background-size: 80%;
  width: 187px;
  height: 50px;
  vertical-align: middle;
}

.companyiconContainer .companyIcon .eriW {
  background: url(../../assets/erissionW.PNG) no-repeat;
  background-size: 50%;
  width: 112px;
  height: 50px;
  vertical-align: middle;
}

.allofferweatherdata {
  background-color: #eff2f5;
}

.allofferweatherdata .offerWeatherData {
  width: 1080px;
  margin: 0 auto;
  overflow: hidden;
}

.allofferweatherdata .offerWeatherData h1 {
  margin-top: 50px;
  text-align: center;
}

.allofferweatherdata .offerWeatherData .weathermap {
  padding-bottom: 30px;
  border-bottom: 5px dashed #dde2e6;
}

.allofferweatherdata .serviceDetail {
  width: 1080px;
  margin: 0 auto;
  padding-bottom: 60px;
}

.allofferweatherdata .serviceDetail .serviceDetail_info {
  display: flex;
  align-items: center;
  margin-top: 45px;
}

.allofferweatherdata .serviceDetail .serviceDetail_info .info {
  width: 560px;
  margin-right: 53px;
}

.allofferweatherdata .serviceDetail .serviceDetail_info .included_plan {
  border-left: 4px dashed #dde2e6;
  padding: 20px 35px;
}

.allofferweatherdata
  .serviceDetail
  .serviceDetail_info
  .included_plan
  .included {
  background-color: #416376;
  color: white;
  font-weight: bold;
  font-size: small;
  border-radius: 5px;
  width: fit-content;
  padding: 5px 10px;
}

.allofferweatherdata
  .serviceDetail
  .serviceDetail_info
  .included_plan
  .pricing_compare {
  padding-top: 15px;
}

.realTime::before {
  display: inline-block;
  content: "";
  background: url(../../assets/cloudloadG.PNG) no-repeat;
  width: 100px;
  height: 75px;
  vertical-align: middle;
  margin-right: 10px;
  background-size: 100%;
  margin-right: 70px;
}

.autocomplete::before {
  display: inline-block;
  content: "";
  background: url(../../assets/pinG.PNG) no-repeat;
  width: 100px;
  height: 75px;
  vertical-align: middle;
  margin-right: 10px;
  background-size: 80%;
  margin-right: 70px;
}

.lunar::before {
  display: inline-block;
  content: "";
  background: url(../../assets/circlecircleG.PNG) no-repeat;
  width: 100px;
  height: 75px;
  vertical-align: middle;
  margin-right: 10px;
  background-size: 80%;
  margin-right: 70px;
}

.hourdata::before {
  display: inline-block;
  content: "";
  background: url(../../assets/clockG.PNG) no-repeat;
  width: 100px;
  height: 75px;
  vertical-align: middle;
  margin-right: 10px;
  background-size: 80%;
  margin-right: 70px;
}

.historicalData::before {
  display: inline-block;
  content: "";
  background: url(../../assets/circleclockG.PNG) no-repeat;
  width: 100px;
  height: 75px;
  vertical-align: middle;
  margin-right: 10px;
  background-size: 80%;
  margin-right: 70px;
}

.forecastData::before {
  display: inline-block;
  content: "";
  background: url(../../assets/sunnyG.PNG) no-repeat;
  width: 100px;
  height: 75px;
  vertical-align: middle;
  margin-right: 10px;
  background-size: 80%;
  margin-right: 70px;
}

.lan40::before {
  display: inline-block;
  content: "";
  background: url(../../assets/flagG.PNG) no-repeat;
  width: 100px;
  height: 75px;
  vertical-align: middle;
  margin-right: 10px;
  background-size: 80%;
  margin-right: 70px;
}

.APIQueries::before {
  display: inline-block;
  content: "";
  background: url(../../assets/CaptureG.PNG) no-repeat;
  width: 100px;
  height: 75px;
  vertical-align: middle;
  margin-right: 10px;
  background-size: 80%;
  margin-right: 70px;
}

.allfreequentAsked {
  width: 100vw;
  margin-bottom: 50px;
}

.allfreequentAsked h3 {
  text-align: center;
  margin-top: 30px;
}

.allfreequentAsked .qSections {
  margin: 0 auto;
  display: flex;
  width: 1300px;
  justify-content: space-between;
}

.allfreequentAsked .qSections .qSection1 h4 {
  color: #949494;
}

.allfreequentAsked .qSections .qSection1 #freequentQ {
  color: #7e8e9d;
}

.allfreequentAsked .qSections .qSection1 #freequentQ::after {
  display: inline-block;
  content: "";
  background: url(../../assets/arrowrightG.PNG) no-repeat;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  margin-right: 10px;
  background-size: 100%;
  margin-left: 20px;
}

.allfreequentAsked .qSections .qSection1 ul {
  padding: 0;
}

.allfreequentAsked .qSections .qSection1 ul .questionLi {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #aaadb1;
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}

.allfreequentAsked .qSections .qSection1 ul .questionLi .question {
  height: 25px;
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.allfreequentAsked .qSections .qSection1 ul .questionLi .plushoverContent {
  display: none;
}

.allfreequentAsked
  .qSections
  .qSection1
  ul
  .questionLi:hover
  .plushoverContent {
  display: block;
  background-color: #ebeff4;
  padding: 20px 15px;
  cursor: pointer;
}

.questionLi .iconplus::after {
  content: "+";
  font-size: 20px;
  margin-right: 10px;
}

.questionLi:hover .iconplus::after {
  content: "-";
  font-size: 30px;
  margin-right: 10px;
}

#freequentQ:hover {
  text-decoration: underline;
  cursor: pointer;
}

.ending {
  width: 100vw;
  height: 150px;
  background-color: #eef2f5;
  overflow: hidden;
}

.ending .endingContent {
  font-weight: normal;
  text-align: center;
  padding-top: 45px;
}

.ending .endingContent span {
  margin-right: 5px;
  font-weight: bold;
}

.ending .endingContent img {
  vertical-align: middle;
  color: white;
}

.ending .endingContent button {
  background-color: #f47b21;
  border: none;
  padding: 15px;
  margin-left: 5px;
  color: white;
  border-radius: 5px;
  font-weight: 700;
}

.ending .endingContent buttonï¼šhover {
  text-decoration: underline;
  cursor: pointer;
}

footer {
  width: 100vw;
  margin: 0 auto;
  background-color: #2f5b72;
  color: white;
  overflow: hidden;
}

footer .footer_table {
  width: 1080px;
  height: 200px;
  margin: 50px auto;
}

footer .footer_table .WS_content {
  vertical-align: top;
}

footer .footer_table .WS_content .weatherStack_icon {
  display: block;
  width: 200px;
  margin: 10px 0;
}

footer .footer_table .WS_content .weatherStack_icon:hover {
  cursor: pointer;
}

footer .footer_table .WS_content .socialmedia_icon img {
  width: 30px;
  padding-right: 5px;
}

footer .footer_table th {
  text-align: left;
  height: 30px;
  padding-bottom: 10px;
}

footer .footer_table a {
  font-weight: normal;
  height: 2px;
  color: white;
  text-decoration: none;
}

footer .footer_table a:hover {
  text-decoration: underline;
}

footer .copyrightBar {
  text-align: center;
  padding-top: 100px;
  font-size: 18px;
}

footer .copyrightBar a {
  font-weight: normal;
  color: white;
  text-decoration: none;
}

footer .copyrightBar a:not(:last-of-type) {
  border-right: 2px solid white;
  padding: 0 5px;
}

footer .copyrightBar a:hover {
  text-decoration: underline;
}

footer .copyright {
  text-align: center;
  font-size: 10px;
  font-weight: 15;
  margin-bottom: 50px;
}
