// default setup
$defaultbackgroundColor: #2f5b72;
$defaultfontColor: white;
$defaultcontentwidth: 1300px;
$defaultfontweight: bold;
@mixin displayfeatures($value1, $value2, $value3) {
  display: $value1;
  justify-content: $value2;
  align-items: $value3;
}

@mixin flexcentersb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flexcentersa {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@mixin margincenter {
  margin: 0 auto;
}

@mixin listremovedot {
  list-style-type: none;
}

@mixin verticalA($value) {
  vertical-align: $value;
}

@mixin rouded($vert, $horz) {
  margin: $vert;
  padding: $horz;
}

@mixin margin($vert) {
  margin: $vert;
}

@mixin padding($horz) {
  padding: $horz;
}

@mixin widthheight($valueW, $valueH) {
  width: $valueW;
  height: $valueH;
}

@mixin martextalign($value1) {
  margin: $value1;
  text-align: center;
}

@mixin hovercheckmark {
  display: inline-block;
  position: absolute;
}

@mixin planbefore($data, $value1, $value2, $value3) {
  display: inline-block;
  content: "";
  background: $data;
  width: $value1;
  height: $value2;
  vertical-align: middle;
  margin-right: 10px;
  background-size: $value3;
}

@mixin hoverpointerUN {
  text-decoration: underline;
  cursor: pointer;
}

@mixin companyicon($data, $value1, $value2, $value3) {
  background: $data no-repeat;
  background-size: $value1;
  width: $value2;
  height: $value3;
  vertical-align: middle;
}

@mixin questionhover($value1, $value2, $value3) {
  content: $value1;
  font-size: $value2;
  margin-right: $value3;
}

// default setup
body {
  @include margincenter;
}

// Top Section, nav bar
.navigation_topsection {
  width: 100vw;
  height: 600px;
  background-color: $defaultbackgroundColor;
  color: $defaultfontColor;
  .navigation_bar {
    padding-top: 15px;
    height: 100px;
    width: $defaultcontentwidth;
    color: $defaultfontColor;
    @include margincenter;
    @include flexcentersb;
    img {
      width: 300px;
      margin-right: 200px;
      @include verticalA(middle);
    }
  }
}

.nav_content {
  @include listremovedot;
  @include flexcentersa;
  @include verticalA(middle);
  li:nth-child(5) {
    a {
      padding-left: 0;
    }
    span {
      display: inline-block;
      background-color: #47c652;
      border-radius: 50%;
      @include widthheight(12px, 12px);
      @include verticalA(middle);
    }
  }
  li:nth-child(6) {
    background-color: #5f7f90;
    @include rouded(0 15px 0 0, 12px 5px);
    border-radius: 5px;
  }
  li:nth-child(7) {
    background-color: #f47b21;
    @include rouded(0 5px 0 0, 12px 5px);
    border-radius: 5px;
  }
  a {
    @include padding(0 15px);
    color: $defaultfontColor;
    font-weight: $defaultfontweight;
    text-decoration: none;
    font-size: 15px;
    &:hover {
      text-decoration: underline;
    }
  }
}

.web_title {
  width: $defaultcontentwidth;
  @include martextalign(0 auto);
  @include padding(15px 0 0 0);
  h1 {
    font-size: 30px;
  }
}

.billingPlan {
  @include margin(50px 0 0 0);
  @include displayfeatures(flex, center, normal);
  position: relative;
  .monthyyearlyB {
    @include displayfeatures(flex, normal, center);
    background-color: #15394c;
    padding: 10px;
    border-radius: 10px 0 0 10px;
    a {
      color: $defaultfontColor;
      text-decoration: none;
      font-size: 19px;
      @include martextalign(0 0 0 10px);
    }
    a:hover {
      text-decoration: underline;
    }
  }
  .yearlyB {
    background-color: white;
    padding: 10px;
    border-radius: 0 10px 10px 0;
    color: $defaultfontColor;
    position: relative;
    a {
      color: #15394c;
    }
    .yearlyB_discount {
      background-color: #8a9bae;
      color: $defaultfontColor;
      font-weight: bold;
      position: absolute;
      border-radius: 5px;
      width: 120px;
      left: 45%;
      bottom: 40px;
      padding: 5px;
    }
  }
  .yearlyB:hover {
    .checkmark {
      @include hovercheckmark;
    }
  }
}

.checkmark {
  display: none;
}

// Subscription section
li {
  @include listremovedot;
}

.allSubscription {
  position: relative;
  width: $defaultcontentwidth;
  @include margincenter;
  display: flex;
  padding: 0;
  ul:first-child {
    width: $defaultcontentwidth;
    display: flex;
    justify-content: space-between;
    padding: 0;
    position: absolute;
    top: -180px;
  }
}

.freePlan,
.standardPlan,
.professionalPlan,
.businessPlan,
.enterprisePlan {
  padding: 25px;
  line-height: 30px;
}

// free plan
.planDescription {
  background-color: #ebeff4;
  color: #16222f;
  width: 220px;
  height: 350px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 5px;
  .freePlan::before {
    @include planbefore(
      url(../assets/greycloud.png) no-repeat,
      32px,
      25px,
      100%
    );
  }
  .plan_detail {
    font-size: small;
    height: 50px;
    padding: 0 15px;
  }
  .price {
    .dollar {
      font-weight: bold;
      font-size: large;
    }
    .cents {
      font-weight: bold;
      font-size: small;
      vertical-align: top;
    }
  }
}

.signup_button {
  background-color: #dde1e7;
  width: 200px;
  padding: 10px 0;
  border: none;
  border-radius: 5px;
  margin: 0 auto;
  color: #848484;
  font-weight: bold;
  margin-bottom: 5px;
  &:hover {
    @include hoverpointerUN;
  }
}

// Standard plan
.price_yearly {
  color: #8d8f92;
  font-size: 3px;
  margin-top: -30px;
}

.standardPlan::before {
  @include planbefore(url(./assets/cloudsunny.PNG) no-repeat, 35px, 35px, 90%);
}

// Professional Plan
.planDescription_P {
  background-color: white;
  border: 1px solid grey;
  color: #16222f;
  @include widthheight(220px, 350px);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 5px;
  position: relative;
  #mostPopular {
    @include widthheight(220px, 30px);
    background-color: #15394c;
    position: absolute;
    top: -30px;
    color: white;
    border-radius: 5px 5px 0 0;
    line-height: 30px;
    font-weight: bold;
    font-size: small;
  }
  .professionalPlan::before {
    @include planbefore(url(./assets/sunny.PNG) no-repeat, 35px, 35px, 100%);
  }
  .plan_detail {
    font-size: small;
    height: 50px;
    padding: 0 15px;
  }
  .ProfessionButton {
    background-color: #15394c;
    color: $defaultfontColor;
  }
}

// Business Plan
.businessPlan::before {
  @include planbefore(url(./assets/snow.PNG) no-repeat, 35px, 35px, 100%);
}

// Enterprise Plan
.planDescription_E {
  background-color: #15394c;
  color: $defaultfontColor;
  @include widthheight(240px, 350px);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 5px 5px 0 0;
  .plan_detail {
    font-size: small;
    height: 50px;
    padding: 0 15px;
  }
  .enterprisePlan::before {
    @include planbefore(url(./assets/building.PNG) no-repeat, 32px, 25px, 100%);
  }
  .enterprise_price {
    div:nth-child(1) {
      font-size: 18px;
      font-weight: bold;
    }
    div:nth-child(2) {
      padding-top: 5px;
      font-size: smaller;
    }
  }
  .contact_button {
    background-color: #f47b21;
    width: 200px;
    padding: 10px 0;
    border: none;
    border-radius: 5px;
    @include margincenter;
    color: $defaultfontColor;
    font-weight: bold;
    margin-bottom: 5px;
    &:hover {
      @include hoverpointerUN;
    }
  }
}

// Service
.business > .service {
  border: none;
}

.service {
  padding: 10px;
  border-right: 1px solid grey;
  height: 530px;
  li {
    padding: 10px;
    display: flex;
    width: 200px;
    img {
      padding-right: 5px;
    }
  }
}

.service_enterprise {
  background-color: #15394c;
  color: $defaultfontColor;
  border: none;
  border-radius: 0 0 5px 5px;
}

.companyiconContainer {
  margin-top: 850px;
  width: 100vw;
  .companyIcon {
    width: 1350px;
    @include margincenter;
    @include flexcentersb;
    padding: 10px;
    div:first-child {
      line-height: 100px;
      padding-left: 10px;
      font-weight: bold;
    }
    .imgW {
      height: 50px;
    }
    .deloitteW {
      @include companyicon(url(./assets/deloitteW.PNG), 100%, 187px, 50px);
    }
    .microsoftW {
      @include companyicon(url(./assets/microsoftW.png), 100%, 187px, 50px);
    }
    .wbw {
      @include companyicon(url(./assets/WBW.PNG), 46%, 110px, 50px);
    }
    .wawaW {
      @include companyicon(url(./assets/wawaW.PNG), 80%, 132px, 50px);
    }
    .schW {
      @include companyicon(url(./assets/schneiderW.jpg), 80%, 187px, 50px);
    }
    .eriW {
      @include companyicon(url(./assets/erissionW.PNG), 50%, 112px, 50px);
    }
  }
}

// allofferweatherdata thrid section
.allofferweatherdata {
  background-color: #eff2f5;
  .offerWeatherData {
    width: 1080px;
    @include margincenter();
    overflow: hidden;
    h1 {
      margin-top: 50px;
      text-align: center;
    }
    .weathermap {
      padding-bottom: 30px;
      border-bottom: 5px dashed #dde2e6;
    }
  }
  .serviceDetail {
    width: 1080px;
    @include margincenter();
    padding-bottom: 60px;
    .serviceDetail_info {
      display: flex;
      align-items: center;
      margin-top: 45px;
      .info {
        width: 560px;
        margin-right: 53px;
      }
      .included_plan {
        border-left: 4px dashed #dde2e6;
        padding: 20px 35px;
        .included {
          background-color: #416376;
          color: white;
          font-weight: bold;
          font-size: small;
          border-radius: 5px;
          width: fit-content;
          padding: 5px 10px;
        }
        .pricing_compare {
          padding-top: 15px;
        }
      }
    }
  }
}

.realTime::before {
  @include planbefore(
    url(./assets/cloudloadG.PNG) no-repeat,
    100px,
    75px,
    100%
  );
  margin-right: 70px;
}

.autocomplete::before {
  @include planbefore(url(./assets/pinG.PNG) no-repeat, 100px, 75px, 80%);
  margin-right: 70px;
}

.lunar::before {
  @include planbefore(
    url(./assets/circlecircleG.PNG) no-repeat,
    100px,
    75px,
    80%
  );
  margin-right: 70px;
}

.hourdata::before {
  @include planbefore(url(./assets/clockG.PNG) no-repeat, 100px, 75px, 80%);
  margin-right: 70px;
}

.historicalData::before {
  @include planbefore(
    url(./assets/circleclockG.PNG) no-repeat,
    100px,
    75px,
    80%
  );
  margin-right: 70px;
}

.forecastData::before {
  @include planbefore(url(./assets/sunnyG.PNG) no-repeat, 100px, 75px, 80%);
  margin-right: 70px;
}

.lan40::before {
  @include planbefore(url(./assets/flagG.PNG) no-repeat, 100px, 75px, 80%);
  margin-right: 70px;
}

.APIQueries::before {
  @include planbefore(url(./assets/CaptureG.PNG) no-repeat, 100px, 75px, 80%);
  margin-right: 70px;
}

// allfreequentAsked , fourth section
.allfreequentAsked {
  width: 100vw;
  margin-bottom: 50px;
  h3 {
    text-align: center;
    margin-top: 30px;
  }
  .qSections {
    @include margincenter();
    display: flex;
    width: 1300px;
    justify-content: space-between;
    .qSection1 {
      h4 {
        color: #949494;
      }
      #freequentQ {
        color: #7e8e9d;
        &::after {
          @include planbefore(
            url(./assets/arrowrightG.PNG) no-repeat,
            25px,
            25px,
            100%
          );
          margin-left: 20px;
        }
      }
      ul {
        padding: 0;
        .questionLi {
          display: flex;
          flex-direction: column;
          border-bottom: 1px solid #aaadb1;
          width: 600px;
          @include flexcentersb();
          padding: 15px 0;
          .question {
            height: 25px;
            width: 600px;
            @include flexcentersb();
          }
          .plushoverContent {
            display: none;
          }
          &:hover .plushoverContent {
            display: block;
            background-color: #ebeff4;
            padding: 20px 15px;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.questionLi .iconplus::after {
  @include questionhover("+", 20px, 10px);
}

.questionLi:hover .iconplus::after {
  @include questionhover("-", 30px, 10px);
}

#freequentQ:hover {
  @include hoverpointerUN();
}

// Ending
.ending {
  @include widthheight(100vw, 150px);
  background-color: #eef2f5;
  overflow: hidden;
  .endingContent {
    font-weight: normal;
    text-align: center;
    padding-top: 45px;
    span {
      margin-right: 5px;
      font-weight: bold;
    }
    img {
      vertical-align: middle;
      color: $defaultfontColor;
    }
    button {
      background-color: #f47b21;
      border: none;
      padding: 15px;
      margin-left: 5px;
      color: $defaultfontColor;
      border-radius: 5px;
      font-weight: 700;
      &ï¼šhover {
        @include hoverpointerUN();
      }
    }
  }
}

// Footer
footer {
  width: 100vw;
  @include margincenter;
  background-color: #2f5b72;
  color: $defaultfontColor;
  overflow: hidden;
  .footer_table {
    @include widthheight(1080px, 200px);
    margin: 50px auto;
    .WS_content {
      vertical-align: top;
      .weatherStack_icon {
        display: block;
        width: 200px;
        margin: 10px 0;
        &:hover {
          cursor: pointer;
        }
      }
      .socialmedia_icon {
        img {
          width: 30px;
          padding-right: 5px;
        }
      }
    }
    th {
      text-align: left;
      height: 30px;
      padding-bottom: 10px;
    }
    a {
      font-weight: normal;
      height: 2px;
      color: $defaultfontColor;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .copyrightBar {
    text-align: center;
    padding-top: 100px;
    font-size: 18px;
    a {
      font-weight: normal;
      color: $defaultfontColor;
      text-decoration: none;
      &:not(:last-of-type) {
        border-right: 2px solid white;
        padding: 0 5px;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .copyright {
    text-align: center;
    font-size: 10px;
    font-weight: 15;
    margin-bottom: 50px;
  }
}
